

body {
    background-image: linear-gradient(#5bbdd6, #FFFFFF 40%, #265473);
    font-family: 'Noto Sans', sans-serif;
  
  }
  
  .container {
      height: 98vh;
    max-width: 1000px;
    width: 80%;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
    justify-content: space-around;
    text-align: center;
  }
  
  .input {
    font-size: 24px;
  }
  
  table {
    margin: 0 auto;
    border-collapse: collapse;
  }
  
  td {
    padding: .5em .3em;
    width: 50%;
  }
  
  .submitButs {
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    justify-content: space-around;
  }
  
  .button {
    width: 160px;
    margin: 0 auto;
    display: block;
    text-decoration: none;
    box-shadow: 1px 2px black; 
    border-radius: 45%;
    padding: 8px 30px;
    color: white;
    background-color: #265473;
    font-size: 28px;
    margin: 0 auto;
    display: block;
    text-decoration: none;
  
  }
  
  .button:hover {
    background-color: #5bbdd6;
  }